---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
const arrNames = ["John", "Jane", "Jack"];

const identity = {
    name: "Farshid",
    country: "Iran",
};

const vars = {
    color: "red",
    fontSize: "16px",
    fontWeight: "bold",
};

const showSkills = false;

const skills = ["HTML", "CSS", "SASS", "JAVASCRIPT", "VUE", "REACT", "ASTRO"];
---

<BaseLayout title="About Page">
    <p class="content">ABOUT PAGE</p>
    <br />
    {arrNames.map((name) => <li>{name}</li>)}

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.name}</li>
        <li>I live in {identity.country}</li>
    </ul>
    <p>My skills are:</p>
    {
        !showSkills && (
            <ul>
                {skills.map((skill) => (
                    <li class="skill">{skill}</li>
                ))}
            </ul>
        )
    }
</BaseLayout>

<style define:vars={vars}>
    .content {
        color: var(--color);
        font-size: var(--fontSize);
        font-weight: var(--fontWeight);
    }

    .skill {
        color: green;
    }
</style>

<script></script>
